.news-section .grid {
    margin-top: 4rem;
}

.news-section .row {
    justify-content: space-around;
    margin-bottom: -7rem;
}

.news-section .action-card {
    border-radius: 1%;
    overflow: hidden;
    margin-bottom: 7rem;
    position: relative;
}

.news-section .action-card .label {
    display: inline-block;
    margin: 1em 0 2em 0.5em;
}

.news-section .action-card .cover+.label {
    padding: .2em 1em;
    margin-left: 0;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
}

.news-section .action-card .cover {
    margin-bottom: 2rem;
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-height: 11.25em;
}

.news-section .action-card .cover+* {
    margin-top: 1rem;
}

.news-section .action-card .content {
    display: inline-block;
}

.news-section .action-card .summary {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 16;
    line-clamp: 16;
    -webkit-box-orient: vertical;
}

.news-section .action-card img~.content .summary {
    -webkit-line-clamp: 10;
    line-clamp: 10;
}