#posleshapki .container {
    display: flex;
}

#posleshapki .block img {
    object-fit: contain;
    max-width: 100%;
}

@media (min-width: 768px) {
    #posleshapki .block {
        max-width: 50%;
    }
}

@media (max-width: 767px) {
    #posleshapki .block img {
        display: none;
    }
}