.vacancy-card {
  margin-top: 3em;
  padding: 1em;
  max-width: 800px;
}

.tags {
  display: flex;
  align-items: center;
  margin: 0 2em 1em 1rem;
}

.tags p {
  margin: unset;
}

.tags span {
  font-size: 12px;
  font-weight: bold;
  padding: .5em;
}

.tags *+span {
  margin-left: .5em;
}