header .item {
    height: 40px;
}

header a.item {
    display: inline-flex;
    align-items: center;
    
    font-size: 12px;
    padding: 0 0.6em;
}

header h5 {
    margin: unset;

    font-weight: 700;
    font-family: 'Montserrat';
    text-transform: lowercase;
    font-size: 1.5em;

    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}

header .header-element {
    display: flex;
    align-items: center;
}

header .logo {
    justify-content: center;
}

header .logo a {
    display: contents;
}

header .contacts {
    justify-content: flex-end;
}

header .icon {
    max-height: 2rem;
    object-fit: contain;
    max-width: 100%;
}