.pull-out-menu {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100vw;

    background-color: #fff;
    transition-property: left;
    transition-duration: .2s;
    transition-timing-function: ease;
}

.pull-out-menu a.item {
    display: block;
    align-items: center;
}


.pull-out-menu-toggler { z-index: 2; }
.pull-out-menu { z-index: 1; }


/* Animations */
.pull-out-menu.hidden { left: -100vw; }
.pull-out-menu.shown { left: 0; }