#map {
    width: 100%;
    height: 50vh;
}

#partners-page #contacts>*+*,
#partners-page #contacts .container>*+* {
    margin-top: 2rem;
}

.info-with-icon {
    margin-bottom: 2rem;
}

.info-container {
    margin-bottom: -2rem;
}