
#novosti {
    margin-top: 10px;
}

#novosti .article {
    height: 20em;
    display: flex;
    flex-direction: row;
}

#novosti .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 4;
     line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 100%;
    }
#novosti .article img {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 300px;
    }
#novosti .article img {
        -webkit-line-clamp: 5;
        line-clamp: 5;
    }
    
@media (min-width: 768px) {
    #novosti .article {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    #novosti .article img {
        display: none;
    }
}