#novosti .article {
    height: 12em;
    display: flex;
    flex-direction: row;
    max-width: 950px;
}

#novosti .article~.article {
    margin-top: 2em;
}

#novosti .article img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    flex: 0 0 30%;
    min-width: 0;
}

#novosti .article-content {
    flex: 0 0 70%;
    padding-top: 1em;
}

#novosti .clamp-container {
    max-height: 6em;
    overflow: hidden;
}

#novosti .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-right: 3em;

}

@media (min-width: 768px) {
    #novosti .article {}
}

@media (max-width: 767px) {
    #novosti .article img {
        display: none;
    }
}