#store-addresses:last-child {
    margin-bottom: unset;
}

#store-addresses:first-child {
    margin-top: unset;
}

.store-addresses {
    position: relative;
}

.store-addresses .map-wrapper {
    width: 100%;
    height: 80vh;
    max-height: 800px;
    min-height: 400px;
}

.store-addresses .map {
    height: 100%;
}

.store-addresses menu {
    position: relative;
    margin: unset;

    overflow: auto;
}

.store-addresses .menu-item {
    max-width: 375px;
    padding: 0.5em;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}

.store-addresses .menu-item>* {
    flex: 1 1 auto;
}

.store-addresses .menu-item .button {
    flex: 0 0 48px;
    height: 48px;
    padding: 0;

    transition-property: border-color;
    transition-timing-function: ease;
    transition-duration: .2s;
}

.store-addresses .menu-item .button:hover,
.store-addresses .menu-item .button.active {
    border-color: transparent;
}

.store-addresses .menu-item .content {
    display: flex;
    flex-direction: column;
}

.store-addresses .menu-item .adress {
    font-weight: 500;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .store-addresses menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .store-addresses .menu-item {
        flex: 0 0 50%;
    }
}

@media (max-width: 1199px) {
    .store-addresses .flat-shadow {
        display: contents;
    }

    .store-addresses menu {
        padding: 0;
        border-bottom: 1px solid #ebebeb;
    }

    .store-addresses .menu-item .see-on-map {
        display: none;
    }

    .store-addresses [data-role="button-container"][data-is-view="false"] {
        display: none;
    }

    .store-addresses .map-wrapper {
        height: 70vh;
    }

    .store-addresses .menu-item .button {
        order: -1;
        border-right: 1px solid #ebebeb;
    }

    .store-addresses .menu-item>* {
        margin-right: 1em;
    }
}

@media (min-width: 1200px) {
    .store-addresses {
        overflow: hidden;

        --container-width: 1140px;
        --container-client-width: calc(var(--container-width) - var(--bs-gutter-x, .75rem) - var(--bs-gutter-x, .75rem));
        --window-width: calc(100vw - 15px);
        --container-margin: calc((var(--window-width) - var(--container-width)) / 2);
        --menu-width: 375px;
    }

    .store-addresses .map [class*="copyrights-pane"],
    .store-addresses .map [class*="__toolbar_right"] {
        margin-right: 680px;
        margin-right: calc(var(--container-margin) + var(--menu-width));
    }

    .store-addresses .menu-wrapper {
        width: 375px;
        width: var(--menu-width);

        position: absolute;
        top: 0;
        bottom: 0;
        right: 200px;
        right: var(--container-margin);
    }

    .store-addresses .menu-wrapper,
    .store-addresses .menu-wrapper .flat-shadow,
    .store-addresses .menu-wrapper .menu-container {
        height: 100%;
    }

    .store-addresses menu {
        height: 80vh;
        max-height: 800px;
        min-height: 400px;

        padding-top: 1em;
        padding-right: 1em;
        padding-left: 1em;
    }

    .store-addresses .menu-item+.menu-item {
        border-top: 1px solid #ededed;
    }

    .store-addresses .menu-item>*+* {
        margin-left: 1em;
    }

    .store-addresses .menu-item *+.button {
        border-left: 1px solid #ebebeb;
    }

    .store-addresses .menu-item .button:first-child {
        border-right: 1px solid #ebebeb;
    }
}

@media (min-width: 1400px) {
    .store-addresses {
        --container-width: 1320px;
    }
}