.cover {
    width: 350px
}

.col-12 {
    width: 350px;
    height: 450px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.action-card {
    width: 350px;
    height: 450px;
}

.content h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.summary {
    margin-top: 20px;
    margin-bottom: 20px;
}

.row {
    justify-content: space-between;
}